.heroBlock {
  background-color: var(--heroBlock);
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;

  article {
    display: flex;
    flex-direction: column;
    gap: 2.75rem;
    margin: 9rem 4rem 9rem auto;
    width: 37.5rem;

    h1 {
      font-size: 4.375rem;
      font-weight: 400;
    }

    p {
      width: 80%;
    }
  }

  &--IMGCont {
    @include divWithGrid;

    &--first {
      animation: animateImg 15s ease-in-out infinite;
      opacity: 0;
      transition: opacity 2s;
      z-index: 1;

      @include imgOnGrid;

      &.slideSeen {
        opacity: 1;
      }
    }

    &--second {
      animation: animateImg 15s ease-in-out infinite;
      transition: opasity 1s;

      @include imgOnGrid;
    }
  }

  div {
    display: flex;
    gap: 2.5rem;

    a {
      button {
        background: transparent;
        border-radius: 100vw;
        color: var(--buttonContactWithUs);
        cursor: pointer;
        outline: 1px solid var(--buttonContactWithUs);
        padding: 0.75rem 1.5rem 0.875rem;
        transition: 0.31415s;

        img {
          aspect-ratio: 1;
          float: right;
          margin-left: 0.5rem;
          object-fit: contain;
          object-position: center;
          width: 1.25rem;
        }

        &:not(:first-child):hover {
          outline-color: var(--buttonContactWithUs-hover);
          color: var(--buttonContactWithUs-hover);
        }
      }

      &:first-child {
        button {
          @include contactWithUs;
        }
      }
    }
  }
}

@keyframes animateImg {
  0%,
  100% {
    object-position: 0% 0%;
  }

  50% {
    object-position: 25% 75%;
  }
}

@media (max-width: 1400px) {
  .heroBlock {
    article {
      margin: 9rem auto;
    }
  }
}

@media (max-width: 1000px) {
  .heroBlock {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    article {
      margin: 5rem auto;
      width: 80%;
    }

    div {
      gap: 1rem;
    }
  }
}
